.tophead .funcbtn {
    margin-left: auto;
    display: table;
}
.tophead .funcbtn li {
    display: inline-block;
}
.classdata {
    margin-top: 5%;
}
.tophead .funcbtn li+li {
    margin-left: 20px;
}
.tophead .funcbtn li a {
    background: #635050;
    padding: 10px 19px;
    text-decoration: none;
    width: 131px;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-weight: 600;
}
.tophead .funcbtn li {
    display: inline-block;
}
.addclassform, .editclassform, .addstudentform, .editstudentform, .addteacherform, .editteacherform {
    width: 100%;
    padding: 0;
    background: #eee;
    transition: .4s ease;
    transform: scaleY(0);
    height: 0;
}
.addclassform.clickedvmro, .editclassform.clickedvmro, 
.addstudentform.clickedvmro, .editstudentform.clickedvmro,
.addteacherform.clickedvmro, .editteacherform.clickedvmro{
    height: 100%;
    transform: scaleY(1);
    transition: .4s ease;
    padding:50px 25px;
}
.form-group {
    display: flex;
    column-gap: 25px;
}
input.btn.btn-info {
    padding: 8px 35px;
    text-transform: capitalize;
}
.main_table,.student_table,.teacher_table {
    margin: 20px 0;
    background: linear-gradient(45deg, #51a9bb, #0dcaf09e);
    padding: 50px 25px;
}
.main_table h3,.student_table h3,.teacher_table h3 {
    font-size: 22px;
    text-transform: capitalize;
    color: #fff;
}

table tbody button {
    background: red;
    border: none;
    width: 105px;
    padding: 6px;
    color: #fff;
}
input.warning{
    border:1px solid red;
}


/* login style */


.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #e0e9ff;
    padding: 80px 50px;
    border-radius: 10px;
    width: 30%;
}
.login .form-group {
    flex-flow: wrap;
}
.login input {
    margin: 5px 0;
    padding: 10px;
}
body {
    background: #f5f5f5;
}